[Transmitter]
currenttime=CT_OFF
hqiq=0
ifamp=1
ifformat=OF_IQ_POS
iffreq=-4510.0000000
interleaver=SI_LONG
msc=CS_3_SM
protlevel=1
robustness=RM_ROBUSTNESS_MODE_A
samplerateaud=48000
sampleratesig=48000
sdc=CS_2_SM
snddevin=to_radio.monitor
snddevout=-2
spectocc=SO_4

[Transmitter Service 1]
codec=Opus
description=15
id=0
label=OH64K
language=0
Opus_Application=OA_AUDIO
Opus_Bandwith=OB_FB
Opus_Channels=OC_STEREO
Opus_FEC=0
Opus_Signal=OG_MUSIC
